# Logistic Regression : Single-variable

In [ ]:
import numpy as np

In [ ]:
x_data = np.array([2,4,6,8,10,12,14,16,18,20]).reshape(10,1)
t_data = np.array([0,0,0,0,0,0,1,1,1,1]).reshape(10,1)

print("X_data = ", x_data.shape, ", t_data.shape = ", t_data.shape)

X_data =  (10, 1) , t_data.shape =  (10, 1)

In [ ]:
W = np.random.rand(1, 1)
b = np.random.rand(1)

print('W = ', W, ", W.shape = ", W.shape, ", b = ", b, ", b.shape = ", b.shape)

W =  [[0.04708766]] , W.shape =  (1, 1) , b =  [0.83981154] , b.shape =  (1,)

In [ ]:
def sigmoid(x):
  return 1 / (1 + np.exp(-x))

In [ ]:
def loss_func(x, t):
  delta = 1e-7

  z = np.dot(x, W) + b
  y = sigmoid(z)

  return -np.sum(t * np.log(y + delta) + (1 - t) * np.log((1 - y) + delta))

In [ ]:
def numerical_derivative(f, x):
  delta_x = 1e-4
  grad = np.zeros_like(x)

  it = np.nditer(x, flags = ['multi_index'], op_flags = ['readwrite'])

  while not it.finished:
    idx = it.multi_index
    tmp_val = x[idx]
    x[idx] = float(tmp_val) + delta_x
    fx1 = f(x)

    x[idx] = tmp_val - delta_x
    fx2 = f(x)
    grad[idx] = (fx1 - fx2) / (2 * delta_x)

    x[idx] = tmp_val
    it.iternext()
  return grad

In [ ]:
def error_val(x, t):
  delta = 1e-7

  z = np.dot(x, W) + b
  y = sigmoid(z)  
  return -np.sum(t * np.log(y + delta) + (1 - t) * np.log((1 - y) + delta))

def predict(x):
  z = np.dot(x, W) + b
  y = sigmoid(z)  

  if y >= 0.5:
    result = 1
  else:
    result = 0
  return y, result

In [ ]:
learning_rate = 1e-2
f = lambda x : loss_func(x_data, t_data)

print('Initial error value = ', error_val(x_data, t_data))
print('Initial W = ', W, ', b = ', b)

for step in range(10001):
  W -= learning_rate * numerical_derivative(f, W)
  b -= learning_rate * numerical_derivative(f, b)

  if (step % 400 == 0):
    print("step = ", step, "error value = ", error_val(x_data, t_data), "W = ", W, ", b = ", b)

Initial error value =  9.365225529584198
Initial W =  [[0.04708766]] , b =  [0.83981154]
step =  0 error value =  12.113743359958523 W =  [[-0.16931854]] , b =  [0.84972851]
step =  400 error value =  2.8366069463672923 W =  [[0.27555882]] , b =  [-4.0826065]
step =  800 error value =  1.78683137407411 W =  [[0.4525711]] , b =  [-5.6305056]
step =  1200 error value =  1.5197057372156595 W =  [[0.53010421]] , b =  [-6.66293724]
step =  1600 error value =  1.353623032949325 W =  [[0.59147018]] , b =  [-7.47784845]
step =  2000 error value =  1.2368356981396482 W =  [[0.64305705]] , b =  [-8.16139704]
step =  2400 error value =  1.1484816884690265 W =  [[0.68800937]] , b =  [-8.75597559]
step =  2800 error value =  1.0783224294164016 W =  [[0.72812462]] , b =  [-9.28579448]
step =  3200 error value =  1.0206619624124402 W =  [[0.76453441]] , b =  [-9.7660797]
step =  3600 error value =  0.9720420764318888 W =  [[0.79800121]] , b =  [-10.20707858]
step =  4000 error value =  0.9302230837203481 W =  [[0.82906528]] , b =  [-10.61604399]
step =  4400 error value =  0.8936804762321745 W =  [[0.85812462]] , b =  [-10.99831328]
step =  4800 error value =  0.8613347128147792 W =  [[0.88548168]] , b =  [-11.35793794]
step =  5200 error value =  0.8323963443785788 W =  [[0.91137214]] , b =  [-11.69807224]
step =  5600 error value =  0.8062724310776676 W =  [[0.93598359]] , b =  [-12.0212242]
step =  6000 error value =  0.7825074771793094 W =  [[0.95946798]] , b =  [-12.32942372]
step =  6400 error value =  0.7607447633187109 W =  [[0.98195028]] , b =  [-12.624339]
step =  6800 error value =  0.7407002311484889 W =  [[1.00353466]] , b =  [-12.90735914]
step =  7200 error value =  0.7221443653481189 W =  [[1.02430891]] , b =  [-13.17965426]
step =  7600 error value =  0.7048893262029008 W =  [[1.04434779]] , b =  [-13.44222012]
step =  8000 error value =  0.6887796210576338 W =  [[1.06371554]] , b =  [-13.69591174]
step =  8400 error value =  0.6736852168191114 W =  [[1.08246782]] , b =  [-13.94146932]
step =  8800 error value =  0.6594963712406168 W =  [[1.10065318]] , b =  [-14.17953829]
step =  9200 error value =  0.6461196969045909 W =  [[1.11831425]] , b =  [-14.41068516]
step =  9600 error value =  0.6334751240526919 W =  [[1.13548871]] , b =  [-14.63541019]
step =  10000 error value =  0.6214935287251563 W =  [[1.15221002]] , b =  [-14.85415753]

In [ ]:
(real_val, logical_val) = predict(3)
print(real_val, logical_val)

[[1.12230743e-05]] 0

# Logistic Regression : Multi-variable

In [ ]:
x_data = np.array([[2,4],[4,11],[6,6],[8,5],[10,7],[12,16],[14,8],[16,3],[18,7]])
t_data = np.array([0,0,0,0,0,1,1,1,1]).reshape(9,1)

print("X_data = ", x_data.shape, ", t_data.shape = ", t_data.shape)

X_data =  (9, 2) , t_data.shape =  (9, 1)

In [ ]:
W = np.random.rand(2, 1)
b = np.random.rand(1)

print('W = ', W, ", W.shape = ", W.shape, ", b = ", b, ", b.shape = ", b.shape)

W =  [[0.95508784]
 [0.02091209]] , W.shape =  (2, 1) , b =  [0.26750551] , b.shape =  (1,)

In [ ]:
test_data = np.array([3, 17])
predict(test_data)

(array([0.9703523]), 1)

>> ### 실습. 아래의 망막 데이터의 질병 유무를 분류하라.

In [ ]:
cd /content/drive/MyDrive/Colab Notebooks/2021_2학기_데이터분석과머신러닝/LinearRegression_LogisticRegression

/content/drive/MyDrive/Colab Notebooks/2021_2학기_데이터분석과머신러닝/LinearRegression_LogisticRegression

In [ ]:
import pandas as pd

In [ ]:
train_df = pd.read_csv('RFMiD_Train_SET.csv')
print(train_df.columns)
train_df.head()

Index(['ID', 'Disease_Risk', 'DR', 'ARMD', 'MH', 'DN', 'MYA', 'BRVO', 'TSLN',
       'ERM', 'LS', 'MS', 'CSR', 'ODC', 'CRVO', 'TV', 'AH', 'ODP', 'ODE', 'ST',
       'AION', 'PT', 'RT', 'RS', 'CRS', 'EDN', 'RPEC', 'MHL', 'RP', 'CWS',
       'CB', 'ODPM', 'PRH', 'MNF', 'HR', 'CRAO', 'TD', 'CME', 'PTCR', 'CF',
       'VH', 'MCA', 'VS', 'BRAO', 'PLQ', 'HPED', 'CL'],
      dtype='object')

   ID  Disease_Risk  DR  ARMD  MH  DN  MYA  ...  VH  MCA  VS  BRAO  PLQ  HPED  CL
0   1             1   1     0   0   0    0  ...   0    0   0     0    0     0   0
1   2             1   0     0   0   0    0  ...   0    0   0     0    0     0   0
2   3             1   0     0   0   0    0  ...   0    0   0     0    0     0   0
3   4             1   0     0   0   0    0  ...   0    0   0     0    0     0   0
4   5             1   0     0   0   0    0  ...   0    0   0     0    0     0   0

[5 rows x 47 columns]

In [ ]:
train_x_data = train_df.iloc[:, 2:].values
train_t_data = train_df.iloc[:, [1]].values
print("x_data.ndim = ", train_x_data.ndim, ", x_data.shape = ", train_x_data.shape)
print("t_data.ndim = ", train_t_data.ndim, ", t_data.shape = ", train_t_data.shape)

x_data.ndim =  2 , x_data.shape =  (599, 45)
t_data.ndim =  2 , t_data.shape =  (599, 1)

In [ ]:
test_data = np.array([1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0])
predict(test_data)

(array([0.9223486]), 1)

>> ### 실습. RFMiD_Test_SET.csv에 있는 데이터를 Pandas로 로드한 후, 위 모델에 검증 해보기.

1) 정확도 구하기 : RFMiD_Test_SET.csv에서 정답 값들과 예측을 통해 나온 분류 결과를 비교해서 구할것.   
(예측값 == 실제값) good_count++   
good_count / len(실제값)

In [ ]:
test_df = pd.read_csv('RFMiD_Test_SET.csv')
print(test_df.columns)
test_df.head()

Index(['ID', 'Disease_Risk', 'DR', 'ARMD', 'MH', 'DN', 'MYA', 'BRVO', 'TSLN',
       'ERM', 'LS', 'MS', 'CSR', 'ODC', 'CRVO', 'TV', 'AH', 'ODP', 'ODE', 'ST',
       'AION', 'PT', 'RT', 'RS', 'CRS', 'EDN', 'RPEC', 'MHL', 'RP', 'CWS',
       'CB', 'ODPM', 'PRH', 'MNF', 'HR', 'CRAO', 'TD', 'CME', 'PTCR', 'CF',
       'VH', 'MCA', 'VS', 'BRAO', 'PLQ', 'HPED', 'CL'],
      dtype='object')

   ID  Disease_Risk  DR  ARMD  MH  DN  MYA  ...  VH  MCA  VS  BRAO  PLQ  HPED  CL
0   1             1   0     0   0   0    0  ...   0    0   0     0    0     0   0
1   2             1   0     0   0   0    0  ...   0    0   0     0    0     0   0
2   3             1   0     0   0   0    0  ...   0    0   0     0    0     0   0
3   4             1   0     0   0   0    0  ...   0    0   0     0    0     0   0
4   5             1   0     0   0   0    0  ...   0    0   0     0    0     0   0

[5 rows x 47 columns]

In [ ]:
test_x_data = train_df.iloc[:, 2:].values
test_t_data = train_df.iloc[:, [1]].values
print("x_data.ndim = ", test_x_data.ndim, ", x_data.shape = ", test_x_data.shape)
print("t_data.ndim = ", test_t_data.ndim, ", t_data.shape = ", test_t_data.shape)

x_data.ndim =  2 , x_data.shape =  (599, 45)
t_data.ndim =  2 , t_data.shape =  (599, 1)